<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div style="margin-top:2%"
    [fxFlex]="(100/4) + '%'"
    fxFlex.xs="100%"
    fxFlex.sm="33%"
    *ngFor="let blog of blogs"
  >
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Card example </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src={{blog.image}}
      />
      <mat-card-content>
        <p>
         {{blog.title}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://medium.com/@denil007nair/deploy-docker-image-to-kubernetes-3f8c5c26dfdc" target="_blank">Read More....</a>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
