.mat-toolbar {
  background: #ffffff;
  color: rgb(2, 73, 197);
  border-bottom: 1px solid rgb(149, 156, 255);
  font-family: 'Play', sans-serif;
font-family: 'Playfair Display', serif;
text-decoration:none;
font-weight: bold;

}
.spacer{
  flex: 0.5 0.5 auto;
}
.mat-button{
  color: white;
  margin-right:20px;
  font-family: 'Play', sans-serif;
font-family: 'Playfair Display', serif;
font-weight: bold;
}
a:visited{
  color: rgb(2, 73, 197);font-weight: bold;
}
a{
  text-decoration:none;
  font-weight: bold;
}
.sociallink{
  border: 1px solid rgb(121, 208, 255) !important;
  margin-left:5px
}

mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}
.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
